*{
    margin: 0;
    padding: 0;
}
ol{
    list-style: none;
    counter-reset: contador;
}
ol li{
    counter-increment: contador;
}

ol li::before{
    content: 'curso ' counter(contador) ') ';
    color: blue;
}

ol li::after{
    content: '.';
}
h3{
    color: aqua;
  
}
.div1{
    color: darkcyan;
}
div{
    border: 10px solid #560bad;
    background-color: aquamarine;
    text-align: center;
    margin: 10px 115px;
    padding: 15px;
    text-align: center;
}

.titulo{
    color: chocolate;
    text-align: center;
}

.marco{
    width: 100%;
    height: 200px;
    border: 1px solid blueviolet;
}

.boton{
    background-color: black;
    border: 2px solid burlywood;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.boton:hover{
    background-color: blue;
    color: white;
}