ol{
    list-style: none;
    counter-reset: contador;
}
ol li{
    counter-increment: contador;
}

ol li::before{
    content: 'curso ' counter(contador) ') ';
    color: blue;
}

ol li::after{
    content: '.';
}
h3{
    color: aqua;
  
}
.div1{
    color: darkcyan;
}
div{
    border: 10px solid #560bad;
    background-color: aquamarine;
    text-align: center;
}
h2{
    text-align: center;
}
