.git {
    width: 80px;
}

.js {
    width: 100px;
}

.ht {
    width: 110px;
}

.css {
    width: 100px;
}
.html {
    color: white;
    background-color: aqua;
    padding: 10px;
    border: 8px solid rgb(241, 122, 10);
    margin: 30px;

}