@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
.git {
  width: 80px;
}

.js {
  width: 100px;
}

.ht {
  width: 110px;
}

.css {
  width: 100px;
}
.html {
  color: white;
  background-color: aqua;
  padding: 10px;
  border: 8px solid rgb(241, 122, 10);
  margin: 30px;
  font-family: island Moments;
  text-align: center;
}

.boton {
  color: aqua;
  background-color: burlywood;
  padding: 4px;
  border-radius: 20%;
  margin: 10px;
  font-family: Island Moments;
}


